@use '@/base/theme-config.scss' as theme;

.centerTitle {
	margin-top: 20px;
}

.p {
	display: flex;
	justify-content: center;
	gap: 10px; /* 控制间距 */
	color: theme.$font-color-blue;
	font-family: theme.$font-family;
	font-size: 21px;
}

.active{
	color: theme.$font-color-blue-grey;
	font-weight: bold;
	display: inline-block;
	font-size: 12px;
}
.span {
	color: theme.$font-color-yellow;
	font-family: theme.$font-family;
	display: inline-block;
	font-size: 12px;
}
