@use '@/base/theme-config.scss' as theme;


.list {
    list-style: none;
}

.row:hover {
    border-radius: 5px;

    color: theme.$hover-font-color;
    transform: theme.$hover-transform;
}

.row:active {
    transform: scale(0.95);
}