@use '@/base/theme-config.scss' as theme;

.myButton {
  display: flex;              /* 使用 flexbox 布局 */
  justify-content: center;    /* 水平居中 */
  align-items: center;        /* 垂直居中 */
  padding: 1px 5px;
  color: theme.$button-confirm-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 1px 5px 1px 5px;
  }
  
  .confirm {
    background-color: theme.$button-confirm-background-color;
  }
  
  .confirm:hover {
    background-color: theme.$button-confirm-background-color-hover;
    color: theme.$button-confirm-color;
    transform: scale(1.1);
  }

  .confirm:active {
    transform: scale(0.99);
  }
  
  .cancle {
    background-color: theme.$button-cancle-background-color;
  }
  
  .cancle:hover {
    background-color: theme.$button-cancle-background-color-hover;
    color: theme.$button-confirm-color;
    transform: scale(1.1);
  }
  
  .cancle:active {
    transform: scale(0.99);
  }
  