  
.container.lyrics {
  display: flex;                   /* 启用 Flexbox 布局 */
  width: 80%;                      /* 父容器宽度占满可用空间 */
  justify-content: center;      /* 左对齐 */
  align-items: center;             /* 垂直居中对齐 */
  height: 100%;
  margin-bottom: 200px;
  margin-top: 100px;
}

.center-block {
  display: flex;                   /* 启用 Flexbox 布局 */
  flex: 0 0 50%;                 /* 固定中间元素宽度为 200px */
  text-align: center;              /* 内容居中 */
  align-items: center;             /* 垂直居中对齐 */
  height: 25px;
}

.parent.lyrics{
    position: absolute;    /* 元素相对于父容器定位 */
    left: 50%;                 /* 距离左边 50%（元素的左边缘会到达视口的中点） */
    transform: translateX(-50%); /* 向左偏移自身宽度的 50%，实现水平居中 */
    top: 15%;            /* 距离父容器底部的 20% */
    bottom: 30%;            /* 距离父容器底部的 20% */
    width: 100%;
    height: 60vh;  /* 设置高度为窗口高度的 80% */
}

.center-lyrics {
    width: 80%;
    margin-top: 10px;
    text-align: center;
    height: 90%;
    top: 50px;
    align-items: center;             /* 垂直居中对齐 */
    /* overflow: hidden; */
    overflow-y: auto;
    position: relative;
}

.center-lyrics-line {
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

/* .center-lyrics-line ul {
    padding: 5px;
    font-size: 12px;
} */


.center-lyrics ul {
  width: 100%;
  /* left: 0; */
  transition: 0.5s;
}

.center-lyrics ul li {
  width: 100%;
  height: 30px;
  color: #666;
  /* line-height: 1.5;         文本垂直居中 + 行间距 */
  padding: 8px 0;           /* 上下增加间距 */
  overflow: visible;        /* 允许内容展开 */
  text-align: center;
  list-style: none;
  transition: all 0.5s;
}

.center-lyrics ul li:hover {
  color: #ff5500;
  font-weight: bold;
  transform: scale(1.2);
  transition: all 0.1s;
}

.center-lyrics ul li.active {
  color: #ff5500;
  font-weight: bold;
  transform: scale(1.2);
  transition: all 0.5s;
}

.overLoad-lyrics{
    padding: 8px 14px;
    font-size: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: rgba(61, 66, 61, 0.166);
    color: #dbcdcd;
}