@use '@/base/theme-config.scss' as theme;

.myButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 5px;
  color: theme.$button-confirm-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 1px 5px 1px 5px;
  width: 30px;
  height: 30px;
  font-size: 20px;
}

.setting {
  background: transparent;
  border: none;
  outline: none;
}

.setting:hover {
  background-color: theme.$button-confirm-background-color-hover;
  color: theme.$button-confirm-color;
  transform: scale(1.1);
}

.setting:active {
  transform: scale(0.99);
}