@use '@/base/theme-config.scss' as theme;

  .search {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  /* 按钮容器样式 */
  .postControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .leftControls {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 8px;
    min-width: 0; /* 允许子项缩小 */
  }
  
  .savePathLabel {
    flex: 1;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
    display: inline-block;
  }
  
  .rightControls {
    display: flex;
    gap: 8px;
    flex-shrink: 0; /* 保证按钮不会被压缩 */
  }

  .resultListWrapper {
    width: 100%;
    border-radius: 4px;
    background-color: theme.$window-background-color;
  
    table {
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      font-family: theme.$font-family;
    }
  
    th, td {
      padding: 4px;
      height: 20px;
      border: none;
    }
  
    th {
      // background-color: rgba(82, 78, 78);
      color: theme.$font-color-blue;
    }
  }
  
  .resultList {
    max-height: 200px;
    min-height: 30px;
    height: 30%;
    overflow-y: auto;
  }

.rowOverHidden {
  white-space: nowrap;       /* 不换行 */
  overflow: hidden;          /* 超出隐藏 */
  text-overflow: ellipsis;
}
  
  .resultRow:last-child {
    border-bottom: none;
  }
  
  .resultRow:hover {
    // background-color: theme.$hover-background-color;
    color: theme.$hover-font-color;
    cursor: pointer;
    transform: theme.$hover-transform;
  }

  .selectedRow{
    background-color: theme.$selected-background-color;
    color: theme.$selected-font-color;
  }
