@use '@/base/theme-config.scss' as theme;

.songPanel {
  position: fixed;
  bottom: 40px;
  top: 20px;
  right: 0;
  width: 50%;
  min-width: 200px;
  max-width: 500px;
  margin-top: 10px;
  margin-bottom: calc(5vh + 60px);
  border-radius: 15px;
  background-color: rgba(121, 121, 121, 0.188);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: hidden;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  transform: translateX(100%);
  backdrop-filter: blur(5px);
  padding-bottom: 50px;
}

.songPanel.visible {
  transform: translateX(0);
}

.songPanel .title {
  flex: 1;
  display: inline-block;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.songPanel ul {
  list-style: none;
  padding: 0;
  max-height: 90%;
  overflow-y: auto;
}

.songPanel li {
  display: flex;
  align-items: center;
  padding: 3px 1px;
  border-bottom: 1px solid rgba(78, 77, 77, 0.388);
  text-align: left;
  // color: #dbcdcd;
}

.songPanel li span  {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.songPanel li .index {
  flex: 0 0 40px;
  text-align: left;
}

.songPanel li .title {
  flex: 1;
  padding: 0 10px;
  text-align: left;
}

.songPanel li .duration {
  flex: 0 0 60px;
  text-align: right;
  margin-left: auto;
}

.playListTitle * {
  color: #58b7ce;
  height: 30px;
}

.addSonglist,
.deleteSonglist,
.allSonglist {
  padding: 8px;
  font-size: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: rgba(61, 66, 61, 0.166);
  // color: #dbcdcd;
}

img {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

/* 滑动区域容器 */
.sliderContainer {
  width: 100%;
  height: calc(100% - 80px);
  overflow: hidden;
  position: relative;
}

/* wrapper 用于滑动切换 */
.sliderWrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  width: 100%;
  height: 100%;
}

/* 每个列表占据 slider-container 一整屏 */
.sliderWrapper .list {
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.addDelete {
  position: absolute;
  bottom: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
}

hr {
  position: absolute;
  width: 100%;
  bottom: 65px;
  border: none;
  border-top: 2px solid #58b7ce;
}

.playList {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  width: 90%;
  height: 40px;
  overflow: hidden;
  gap: 8px;
  box-sizing: border-box;
}

.leftScrollWrapper {
  flex: 1;
  min-width: 0;
  max-width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
}

.leftButtons {
  display: flex;
  gap: 6px;
  width: fit-content;
}

// .switchSonglist {
//   flex-shrink: 0;
//   padding: 3px 6px;
//   white-space: nowrap;
//   border-radius: 6px;
//   border: none;
//   cursor: pointer;
//   font-size: 14px;
//   transition: background-color 0.3s;
//   background-color: rgba(61, 66, 61, 0.166);
//   // color: #dbcdcd;
// }

.rightButtons {
  display: flex;
  gap: 6px;
  flex-shrink: 0;
}

.switchQrap {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switchButton {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.switchSonglist.active {
  background-color: theme.$selected-background-color;
  font-weight: bold;
  color: theme.$selected-font-color;
}

.songList.active {
  font-size: 15px;
  font-weight: bold;
  background-color: theme.$selected-background-color;
  color: theme.$selected-font-color;
}

.songList.isPlaying {
  font-size: 15px;
  font-weight: bold;
  color: #ff5500;
}

.addSonglist:hover,
.deleteSonglist:hover,
.allSonglist:hover,
.switchSonglist:hover,
.songPanel li.songList:hover {
  // background-color: theme.$hover-background-color;
  color: theme.$hover-font-color;
  border-radius: 5px;
  transform: theme.$hover-transform;
}

.switchButton:hover {
  transform: scale(1.2);
}

.switchButton:active {
  transform: scale(0.99);
}

// .addSonglist:active,
// .deleteSonglist:active,
// .allSonglist:active,
// .switchSonglist:active {
//   animation: pop 0.3s ease;
// }

.songPanel li.songList:active {
  transform: scale(0.99);
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}
