
// .container {
//   display: grid;
//   // grid-template-columns: var(--grid-cols, 1fr 40vw 1fr);
//   grid-template-columns: 1fr clamp(10%, 70%, 80%) 1fr;
//   align-items: center;
//   width: 100%;
// }

// .left {
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
//   white-space: nowrap;
// }

// .center {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   white-space: nowrap;
// }

// .right {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   white-space: nowrap;
// }



.threeColumnWrapper {
  position: relative;
  width: 100%;
  display: block;
}

.left,
.right {
  position: absolute;
  top: 50%;
  transform: translateY(0%);
  white-space: nowrap;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  white-space: nowrap;
}
