
  .settingList {
    left: 20px;
    // width: 100px;
  }

  .themeList {
    left: 50px;
  }

  .helpList {
    left: 100px;
  }

  .songSearchList {
    left: 25%;
    width: 50%;
  }
  
  .window {
    background-color:rgba(95, 91, 91, 0.374);
    z-index: 1001;
    position: relative;
  }
  .window::after {
    filter: blur(10px);
  }
  
  .windowControlsLeft {
    display: flex;              /* 启用 Flexbox 布局 */
    gap: 10px;         
  }
  
  .windowControlsCenter {
    text-align: center;
    display: flex;              /* 启用 Flexbox 布局 */
    justify-content: center;
  }
  
  .searchKeyInput {
    border: 0;
    width: 100%;
    height: 100%;
    margin: 2px;
    
  }

  .windowControlsRight {
    display: flex;              /* 启用 Flexbox 布局 */
    gap: 20px;                
  }
