.container.bar.progress {
    display: flex;
    justify-content: start;        /* 靠左排列，避免多余的间隙 */
    align-items: center;
    height: 40px;
    width: 100%;
    max-width: 700px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    gap: 10;                        /* 元素之间没有间隔 */
  }
  
  .left-bar-progress, .right-bar-progress {
    flex: 0 0 25px;                /* 左右元素宽度固定为 25px */
    text-align: center;            /* 内容居中 */
    height: 25px;
    margin: 5px;
  }
  
  .center-block-progress {
    display: flex;                 /* 启用 Flexbox 布局 */
    flex: 1;                        /* 让中间元素自适应宽度 */
    text-align: center;            /* 内容居中 */
    align-items: center;           /* 垂直居中对齐 */
    height: 25px;
    width: 80%;
    cursor: pointer;
  }

/* bar================================== */
.center-bar {
    display: flex;                   /* 启用 Flexbox 布局 */
    flex: 0 0 100%;                 /* 固定中间元素宽度为 200px */
    text-align: center;              /* 内容居中 */
    align-items: center;             /* 垂直居中对齐 */

    background: #fff;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    position: relative;
    transition: width 0.1s ease;
}

.center-bar-rate {
    background: #d4d4d4;            /* 进度条填充颜色 */
    height: 3px;
    border-radius: 3px;
    left: 0%;                   /* 设置元素的左边距为父容器宽度的 50% */
    transition: width 0.1s ease;
}

.center-bar-rate-end {
    background: #555556;            /* 进度条填充颜色 */
    height: 3px;
    border-radius: 3px;
    right: 0%;                   /* 设置元素的左边距为父容器宽度的 50% */
    transition: width 0.1s ease;
}

.center-bar-ball {
    left: 100%;                        /* 将小圆球放置到进度条的右侧 */
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    transition: width 0.1s ease;
}


.center-bar-ball-ab.a {
  background: #339ebe;
  left: 100%;                        /* 将小圆球放置到进度条的右侧 */
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: width 0.1s ease;
}

.center-bar-ball-ab.b {
  background: #d85c23;
  left: 100%;                        /* 将小圆球放置到进度条的右侧 */
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: width 0.1s ease;
}
.left-bar-progress.a {
  font: bold;
  color: #58b7ce;
}
.right-bar-progress.b {
  font: bold;
  color: #ff5500;
}

/* bar================================== */

.tooltip-progress {
    /* position: absolute; */
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 4px;
    pointer-events: none; /* 不挡鼠标 */
    white-space: nowrap;
}


/* 鼠标悬停时放大高度 */
.center-bar-rate:hover,
.center-bar-rate-end:hover {
  height: 8px;
}

/* 鼠标悬停时球体放大 */
.center-bar-ball:hover {
  transform: scale(1.5);
}

/* 鼠标悬停时音量按钮放大并带阴影 */
.left-bar-progress:hover,
.right-bar-progress:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.697);
}

/* 鼠标按下时音量按钮缩小 */
.left-bar-progress:active,
.right-bar-progress:active {
  transform: scale(0.99);
}