.containerBtnPlayer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr; /* 子元素平均宽度 */
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 40px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}


.rightBtnPlayer, .centerBtnPlayer, .leftBtnPlayer, .cycleBtnPlayer, .listBtnPlayer {
  width: 20px;
  height: 20px;
  gap: 50px;
  vertical-align: middle;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.leftBtnPlayer:hover,
.centerBtnPlayer:hover,
.rightBtnPlayer:hover,
.cycleBtnPlayer:hover,
.listBtnPlayer:hover {
  transform: scale(1.2); /* 放大一点 */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.697); /* 阴影效果 */
}

.cycleBtnPlayer:active,
.leftBtnPlayer:active,
.centerBtnPlayer:active,
.rightBtnPlayer:active,
.listBtnPlayer:active {
  transform: scale(0.99); /* 点击时缩小 */
}

.songList {
  left: 20px;
}