  
.container.btnPlayer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: 100%;
  max-width: 700px;
  /* margin-bottom: 30px;   */
}


.right-btnPlayer,.center-btnPlayer,.left-btnPlayer,.cycle-btnPlayer,.list-btnPlayer {
  width: 30px;
  height: 30px;
  gap: 50px;
  vertical-align: middle;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.left-btnPlayer:hover,
.center-btnPlayer:hover,
.right-btnPlayer:hover,
.cycle-btnPlayer:hover,
.list-btnPlayer:hover {
  transform: scale(1.2); /* 放大一点 */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.697); /*阴影效果*/
}

.cycle-btnPlayer:active,
.left-btnPlayer:active,
.center-btnPlayer:active,
.right-btnPlayer:active,
.list-btnPlayer:active {
  transform: scale(0.99); /* 点击时缩小 */
}