
/* 设置应用的所有容器背景为黑色 */
html, body, #app {
  height: 100%;
  /* background: url(../img/background.png) no-repeat center 10px; */
  background-size: cover;  /* 使背景图像覆盖整个块 */
  background-color: rgba(65, 67, 65, 0.829);
  color: white;  /* 设置文本为白色，确保在黑色背景下可读 */
  margin: 0;
  padding: 0;
}


* {
	margin: 0px;
	padding: 0px;
}

.my-music {
  display: flex;                /* 使用 Flexbox 布局 */
  flex-direction: column;       /* 垂直排列子元素 */
  position: relative;   /* 设置父容器为相对定位 */
  height: 100vh;         /* 设定父容器的高度为视口高度 */
}

/* 最外层的父容器 */
.parent {
  display: flex;                   /* 启用 Flexbox 布局 */
  justify-content: center;         /* 水平居中对齐 */
  align-items: center;             /* 垂直居中对齐 */
}

.parent.title{
  position: absolute;              /* 元素相对于父容器定位 */
  left: 50%;                       /* 距离左边 50%（元素的左边缘会到达视口的中点） */
  transform: translateX(-50%);     /* 向左偏移自身宽度的 50%，实现水平居中 */
  top: 10px;                       /* 距离父容器底部的 20% */
  width: 100%;
  height: 5vh;
}

.player {
  position: fixed;    /* 元素相对于父容器定位 */
  left: 50%;                 /* 距离左边 50%（元素的左边缘会到达视口的中点） */
  transform: translateX(-50%); /* 向左偏移自身宽度的 50%，实现水平居中 */
  bottom: 10px;
  /* height: 50vh; */
  width: 100%;
  /* margin-bottom: 10px; */
}
