name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  # ===================================
  # Release job
  # ===================================
  release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:

      # ===================================
      # 检查对应 commit 的 build workflow 是否成功
      # ===================================
      - uses: actions/github-script@v6
        id: check_build
        with:
          script: |
            const owner = context.repo.owner;
            const repo = context.repo.repo;

            // 获取 build workflow 的运行记录
            const workflows = await github.rest.actions.listWorkflowRuns({
              owner,
              repo,
              workflow_id: "build.yml",    // build workflow 文件名或者 name
              per_page: 50
            });

            // 找到当前 tag 指向的 commit
            console.log("The commit SHA is: " + context.sha)
            const run = workflows.data.workflow_runs.find(r => r.head_sha === context.sha);

            if (!run) {
              core.setFailed("No build workflow found for this commit. Release skipped.");
            } else if (run.conclusion !== "success") {
              core.setFailed(`Build workflow for this commit did not succeed: ${run.conclusion}`);
            } else {
              core.info("Build workflow succeeded. Proceeding with release.");
            }

      - uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: my-music ${{ github.ref_name }}
          body: |
            ${{ github.ref_name }} is out!!!
            - 支持 Windows / macOS / Linux
          files: |
            artifacts/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
